In [12]:
%matplotlib inline
import os
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import label_binarize
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder,StandardScaler
import sklearn.metrics as metrics
from sklearn import preprocessing
from joblib import dump,load

In [13]:
train_data = pd.read_csv('/Users/raphsmart/Desktop/DSA/House_prices_industrialization/train.csv')
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [14]:
df = train_data
df_main_train = df.copy
label_col = 'SalePrice'

In [15]:
useful_features = ['Foundation', 'KitchenQual', 'TotRmsAbvGrd']
useful_features

['Foundation', 'KitchenQual', 'TotRmsAbvGrd']

In [16]:
df = df[useful_features + [label_col]]
df.head()

  Foundation KitchenQual  TotRmsAbvGrd  SalePrice
0      PConc          Gd             8     208500
1     CBlock          TA             6     181500
2      PConc          Gd             6     223500
3     BrkTil          Gd             7     140000
4      PConc          Gd             9     250000

In [17]:
continuous_columns = df[useful_features].select_dtypes(include = 'number').columns
continuous_columns

Index(['TotRmsAbvGrd'], dtype='object')

In [18]:
scaler = StandardScaler()
scaler.fit(df[continuous_columns])

StandardScaler()

In [19]:
scaled_columns = scaler.transform(df[continuous_columns])
scaled_columns

array([[ 0.91220977],
       [-0.31868327],
       [-0.31868327],
       ...,
       [ 1.52765629],
       [-0.93412978],
       [-0.31868327]])

In [20]:
continuous_features_df = pd.DataFrame(data=scaled_columns, columns = continuous_columns)
continuous_features_df.head()

   TotRmsAbvGrd
0      0.912210
1     -0.318683
2     -0.318683
3      0.296763
4      1.527656

In [21]:
categorical_columns = df[['Foundation', 'KitchenQual']]
categorical_columns.head()

  Foundation KitchenQual
0      PConc          Gd
1     CBlock          TA
2      PConc          Gd
3     BrkTil          Gd
4      PConc          Gd

In [24]:
encoder = OneHotEncoder(sparse = True)
encoder.fit(categorical_columns)
# filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib"
# joblib.dump(encoder, filename)

OneHotEncoder()

In [25]:
X = pd.DataFrame(encoder.transform(categorical_columns).toarray())
X.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [26]:
X.index = df.index
X.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [27]:
final_df = continuous_features_df.join(X).join(df[label_col])
final_df.head()

   TotRmsAbvGrd    0    1    2    3    4    5    6    7    8    9  SalePrice
0      0.912210  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0     208500
1     -0.318683  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0     181500
2     -0.318683  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0     223500
3      0.296763  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0     140000
4      1.527656  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0     250000

In [28]:
X, y = final_df.drop(columns=[label_col]), final_df[label_col]

In [29]:
X.shape

(1460, 11)

In [30]:
X.head()

   TotRmsAbvGrd    0    1    2    3    4    5    6    7    8    9
0      0.912210  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1     -0.318683  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2     -0.318683  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3      0.296763  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4      1.527656  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [31]:
y.shape

(1460,)

In [32]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [34]:
from sklearn.linear_model import LinearRegression

In [49]:
reg = LinearRegression().fit(X_train, y_train)

y_pred = reg.predict(X_test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [36]:
import numpy as np
from sklearn.metrics import mean_squared_log_error

def compute_rmsle(y_test: np.ndarray, y_pred: np.ndarray, precision: int = 2) -> float:
    rmsle = np.sqrt(mean_squared_log_error(y_test, y_pred))
    return round(rmsle, precision)

In [37]:
compute_rmsle(y_test, y_pred)

0.25

In [38]:
# model.joblib
import joblib

In [39]:
filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/scalar.joblib"
joblib.dump(scaler, filename)

['/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/scalar.joblib']

In [42]:
filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib"
joblib.dump(encoder, filename)

['/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib']

In [41]:
filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/model.joblib"
joblib.dump(reg, filename)

['/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/model.joblib']

In [43]:
def build_model(final_df: pd.DataFrame) -> dict[str, str]:
    
    # split data into Train, Test
    X_train, X_test, y_train, y_test = train_test_split(final_df)


    #Create Encoder
    encoder = OneHotEncoder(sparse = True)   
    
    #Create Scalar
    scalar =StandardScaler()
    
    X_train = X_train,encoder=encoder,scalar=scalar,is_test=False
    
    #Define an evaluation dictonary
    evaluations_dict= dict()

    #Defining the Machine Learning model 
    reg = LinearRegression()
    
    #Train model
    reg.fit(X_train, y_train)
    
    # Model Build Evalution on Testing Set 
    #-------------------------------------
    #Preprocessing(cleaning data and using trained encoders,scalars)
    X_test = X_test, encoder=encoder, scalar=scalar, is_test=True
    
    #Testing-set evaluation
    y_test_predictions = reg.predict(X_test)
    test_evaluation = evaluate_performance(y_pred=y_test_predictions, y_true=y_test,
                                                precision=3,comment="Test")
    evaluations_dict.update(test_evaluation)
    # Returns a dictionary with the model performances (for example {'rmse': 0.18})
    return evaluations_dict

In [48]:
# # # Build Model 
    evaluations= build_model(final_df)
    print(evaluations)

In [45]:
# model inference

In [ ]:
# Load Data
test_master=pd.read_csv("/Users/raphsmart/Desktop/DSA/House_prices_industrialization/test.csv")
test_data = test_master.copy()

In [ ]:
def make_predictions(input_data: pd.DataFrame) -> np.ndarray:
    
     # load the encoder 
    encode_filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib"
    encoder = load(encode_filename)
    encoder = OneHotEncoder(handle_unknown='ignore')
    encoded_input = encoder.fit(input_data[['Foundation', 'KitchenQual']])
    encoded_input = encoder.transform(input_data[['Foundation', 'KitchenQual']])

    # load the scalar
    scalar_filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/scalar.joblib"
    scalar = load(scalar_filename)
    scalar_input = scalar.transform(input_data[['TotRmsAbvGrd']])

    # load the model
    model_filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib"
    model= load(model_filename)
    model_input = model.transform(input_data)
    
    final_predict = encoded_input.join(scalar_input)
    
#     input_data = input_data, encoder = encoded_input, scalar = scalar_input, is_test=True
    
    #Validation-set evaluation
    y_predictions = model.predict(final_predict)
    
    return y_predictions

In [ ]:
predicitons = make_predictions(test_master)
print(predicitons)