In [1]:
%matplotlib inline
import os
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import label_binarize
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder,StandardScaler
import sklearn.metrics as metrics
from sklearn import preprocessing
from joblib import dump,load

In [2]:
train_data = pd.read_csv('/Users/raphsmart/Desktop/DSA/House_prices_industrialization/train.csv')
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df = train_data
df_main_train = df.copy
label_col = 'SalePrice'

In [4]:
useful_features = ['Foundation', 'KitchenQual', 'TotRmsAbvGrd']
useful_features

['Foundation', 'KitchenQual', 'TotRmsAbvGrd']

In [5]:
df = df[useful_features + [label_col]]
df.head()

  Foundation KitchenQual  TotRmsAbvGrd  SalePrice
0      PConc          Gd             8     208500
1     CBlock          TA             6     181500
2      PConc          Gd             6     223500
3     BrkTil          Gd             7     140000
4      PConc          Gd             9     250000

In [6]:
continuous_columns = df[useful_features].select_dtypes(include = 'number').columns
continuous_columns

Index(['TotRmsAbvGrd'], dtype='object')

In [7]:
scaler = StandardScaler()
scaler.fit(df[continuous_columns])

StandardScaler()

In [8]:
scaled_columns = scaler.transform(df[continuous_columns])
scaled_columns

array([[ 0.91220977],
       [-0.31868327],
       [-0.31868327],
       ...,
       [ 1.52765629],
       [-0.93412978],
       [-0.31868327]])

In [9]:
continuous_features_df = pd.DataFrame(data=scaled_columns, columns = continuous_columns)
continuous_features_df.head()

   TotRmsAbvGrd
0      0.912210
1     -0.318683
2     -0.318683
3      0.296763
4      1.527656

In [10]:
categorical_columns = df[['Foundation', 'KitchenQual']]
categorical_columns.head()

  Foundation KitchenQual
0      PConc          Gd
1     CBlock          TA
2      PConc          Gd
3     BrkTil          Gd
4      PConc          Gd

In [86]:
encoder = OneHotEncoder(sparse = True)
encoder.fit(categorical_columns)
filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib"
joblib.dump(encoder, filename)

['/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib']

In [87]:
X = pd.DataFrame(encoder.transform(categorical_columns).toarray())
X.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [88]:
X.index = df.index
X.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [89]:
final_df = continuous_features_df.join(X).join(df[label_col])
final_df.head()

   TotRmsAbvGrd    0    1    2    3    4    5    6    7    8    9  SalePrice
0      0.912210  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0     208500
1     -0.318683  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0     181500
2     -0.318683  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0     223500
3      0.296763  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0     140000
4      1.527656  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0     250000

In [90]:
X, y = final_df.drop(columns=[label_col]), final_df[label_col]

In [91]:
X.shape

(1460, 11)

In [92]:
X.head()

   TotRmsAbvGrd    0    1    2    3    4    5    6    7    8    9
0      0.912210  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1     -0.318683  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2     -0.318683  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3      0.296763  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4      1.527656  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [93]:
y.shape

(1460,)

In [94]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [95]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [96]:
from sklearn.linear_model import LinearRegression

In [97]:
reg = LinearRegression().fit(X_train, y_train)

y_pred = reg.predict(X_test)
y_pred

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

array([138582.38031186, 258935.35956139, 121449.75697432, 155715.00364941,
       295597.30196973,  87184.51029923, 218132.21101051, 155715.00364941,
        87184.51029923, 196518.15220029, 112730.6002052 , 121449.75697432,
       138582.38031186, 224670.1128863 , 179385.52886274, 183866.96433542,
       224670.1128863 , 138582.38031186, 112730.6002052 , 224670.1128863 ,
       172847.62698695, 207537.48954876, 224670.1128863 , 104317.13363677,
       207537.48954876, 190404.86621121, 207537.48954876, 104317.13363677,
       179385.52886274, 190404.86621121, 145120.28218765, 241802.73622385,
       374722.51678166, 104317.13363677, 241802.73622385, 121449.75697432,
       155715.00364941, 241802.73622385, 276067.98289894, 127987.65885011,
       162252.9055252 , 241802.73622385, 121449.75697432, 329862.54864482,
       121449.75697432, 125344.4956376 , 121449.75697432, 138582.38031186,
       364127.79531991, 155715.00364941, 138582.38031186, 190404.86621121,
       127987.65885011, 252397.4576856 , 173272.24287367, 224670.1128863 ,
       224670.1128863 , 295597.30196973, 138582.38031186,  85700.19497797,
        56814.00228742, 183866.96433542, 258935.35956139, 295597.30196973,
       224670.1128863 , 200999.58767297, 121449.75697432, 276067.98289894,
       145120.28218765, 145120.28218765, 137098.0649906 , 121449.75697432,
       121449.75697432, 138582.38031186, 381260.41865745, 207537.48954876,
       224670.1128863 , 258935.35956139, 138582.38031186, 104317.13363677,
       166734.34099787, 112730.6002052 , 104317.13363677,  78465.35353011,
       138582.38031186, 158015.18422875, 241802.73622385, 207537.48954876,
       156139.61953612, 241802.73622385,  95597.97686765, 155715.00364941,
       121449.75697432, 218132.21101051, 172847.62698695, 207537.48954876,
       228942.37331218, 207537.48954876, 190404.86621121, 340457.27010657,
       155715.00364941, 241802.73622385, 172847.62698695,  95597.97686765,
       190404.86621121, 138582.38031186, 166734.34099787, 190404.86621121,
       145120.28218765, 191999.42429515,  56814.00228742, 121449.75697432,
       138582.38031186, 146995.84688029, 241802.73622385, 149601.71766033,
       104317.13363677, 121449.75697432, 137098.0649906 , 224670.1128863 ,
       127987.65885011, 156139.61953612, 179385.52886274, 192280.43090384,
       183866.96433542, 121449.75697432, 241802.73622385,  78465.35353011,
       207537.48954876, 196518.15220029, 207537.48954876, 224670.1128863 ,
       207537.48954876, 172847.62698695, 104317.13363677, 312729.92530727,
       312729.92530727, 121449.75697432, 207537.48954876, 364127.79531991,
       346995.17198236, 104317.13363677, 200999.58767297, 179385.52886274,
       121449.75697432, 138582.38031186, 183866.96433542, 207537.48954876,
       121449.75697432,  95597.97686765,  73946.62562496, 138582.38031186,
       213650.77553783, 241378.12033713, 112730.6002052 , 172847.62698695,
       138582.38031186, 121449.75697432,  95597.97686765, 138582.38031186,
       224670.1128863 , 104317.13363677, 224670.1128863 , 155715.00364941,
       138582.38031186, 207112.87366204, 224670.1128863 , 364127.79531991,
       381260.41865745, 207112.87366204, 329862.54864482, 104317.13363677,
       129863.22354274, 138582.38031186, 258935.35956139, 155715.00364941,
       155715.00364941, 200999.58767297, 183866.96433542, 190404.86621121,
       207537.48954876,  82665.78239408, 138582.38031186, 138582.38031186,
       224670.1128863 , 164128.47021783, 224670.1128863 , 207537.48954876,
       207537.48954876, 138582.38031186, 138582.38031186,  78465.35353011,
       129863.22354274, 138582.38031186, 190404.86621121, 306192.02343148,
       173272.24287367, 112730.6002052 , 224670.1128863 , 129863.22354274,
       166734.34099787, 162252.9055252 , 138582.38031186, 241802.73622385,
       207537.48954876, 162252.9055252 , 241802.73622385, 145120.28218765,
       138582.38031186, 121449.75697432, 218132.21101051, 155715.00364941,
       138582.38031186, 162252.9055252 , 121449.75697432, 224670.1128863 ,
       224670.1128863 , 138582.38031186, 183866.96433542, 218132.21101051,
       121449.75697432, 207537.48954876, 200999.58767297, 121449.75697432,
       224670.1128863 , 138582.38031186, 138582.38031186,  95597.97686765,
       200999.58767297, 131769.64716184, 183866.96433542, 207537.48954876,
       149601.71766033, 138582.38031186, 241802.73622385, 129863.22354274,
       207537.48954876, 190404.86621121, 155715.00364941, 121449.75697432,
        95597.97686765, 269530.08102315, 224670.1128863 , 276067.98289894,
       218132.21101051, 121449.75697432, 138582.38031186, 166734.34099787,
       162252.9055252 , 121449.75697432, 179385.52886274, 224670.1128863 ,
       172847.62698695, 211809.74997463, 155715.00364941, 104317.13363677,
       121449.75697432, 138582.38031186, 224670.1128863 , 241802.73622385,
       258935.35956139, 138582.38031186, 121449.75697432, 190404.86621121,
       329862.54864482, 258935.35956139, 145120.28218765, 173272.24287367,
        99798.40573163, 179385.52886274, 312729.92530727, 190404.86621121,
       241802.73622385, 104317.13363677, 102832.81831551, 121449.75697432,
       224670.1128863 , 295597.30196973, 254794.15341885, 138582.38031186,
       224670.1128863 , 220528.90674376, 207537.48954876, 140882.56089121,
       224670.1128863 , 200999.58767297, 207537.48954876, 129863.22354274,
       224670.1128863 , 224670.1128863 , 155715.00364941, 121449.75697432,
       121449.75697432, 179385.52886274, 104317.13363677, 175147.8075663 ,
       158015.18422875, 145120.28218765, 207537.48954876, 175147.8075663 ,
       200999.58767297, 224670.1128863 , 138582.38031186, 138582.38031186,
       155715.00364941, 155715.00364941, 138582.38031186, 241802.73622385,
       200999.58767297, 104317.13363677, 138582.38031186, 155715.00364941,
        95597.97686765, 241378.12033713, 146995.84688029, 241802.73622385,
       190404.86621121, 190404.86621121, 312729.92530727, 102832.81831551,
       224670.1128863 , 183866.96433542, 138582.38031186, 121449.75697432,
       155715.00364941, 172847.62698695, 121449.75697432, 190404.86621121,
       138582.38031186, 121449.75697432, 138582.38031186, 162252.9055252 ,
       166734.34099787, 196518.15220029, 190404.86621121, 138582.38031186,
       196518.15220029, 146995.84688029,  95597.97686765, 207537.48954876,
       196518.15220029, 166734.34099787, 230783.39887538, 200999.58767297,
       258935.35956139, 364127.79531991, 295597.30196973, 121449.75697432,
       235264.83434806,  87184.51029923, 209413.05424139, 346995.17198236,
       190404.86621121, 166734.34099787, 224670.1128863 , 121449.75697432,
       138582.38031186, 138582.38031186, 224670.1128863 , 224670.1128863 ,
       218132.21101051, 138582.38031186, 224670.1128863 , 224670.1128863 ,
       138582.38031186, 224670.1128863 , 166734.34099787, 112730.6002052 ,
       138582.38031186, 155715.00364941, 138582.38031186, 179385.52886274,
       138582.38031186, 207537.48954876, 155715.00364941, 121449.75697432,
       164128.47021783, 155715.00364941, 104317.13363677, 207537.48954876,
       145120.28218765, 155715.00364941, 196518.15220029, 162252.9055252 ,
       138582.38031186, 241802.73622385, 121449.75697432, 247916.02221292,
       241802.73622385, 200999.58767297,  95597.97686765, 154230.68832815,
       121449.75697432, 258935.35956139, 172847.62698695, 381260.41865745,
       112730.6002052 , 312729.92530727, 207537.48954876, 155715.00364941,
       241802.73622385, 241802.73622385, 179385.52886274, 138582.38031186,
       166734.34099787, 121449.75697432, 224670.1128863 , 172847.62698695,
       189980.2503245 , 207537.48954876, 241802.73622385, 224670.1128863 ,
        99798.40573163, 312729.92530727, 138582.38031186, 329862.54864482,
       121449.75697432, 364127.79531991, 190404.86621121, 121449.75697432,
       241802.73622385, 295597.30196973, 207537.48954876, 155715.00364941,
       241802.73622385, 191999.42429515, 207537.48954876, 196518.15220029,
       207537.48954876, 241802.73622385, 121449.75697432, 271926.77675639,
       138582.38031186, 138582.38031186, 138582.38031186, 224670.1128863 ,
       175147.8075663 , 381260.41865745, 179385.52886274, 145120.28218765,
       224670.1128863 , 329862.54864482, 207537.48954876, 138582.38031186,
       241802.73622385, 138582.38031186, 162252.9055252 , 241802.73622385,
       138582.38031186, 138582.38031186, 121449.75697432, 196518.15220029,
       215526.34023047, 172847.62698695,  78465.35353011, 207537.48954876,
       381260.41865745, 329862.54864482, 224670.1128863 , 196518.15220029,
       104317.13363677, 173272.24287367, 172847.62698695, 207537.48954876,
       121449.75697432, 364127.79531991, 172847.62698695, 224670.1128863 ,
       121449.75697432, 312729.92530727, 121449.75697432, 121449.75697432,
       121449.75697432, 149601.71766033, 276067.98289894, 200999.58767297,
       162252.9055252 , 155715.00364941, 129863.22354274, 155715.00364941,
       121449.75697432, 276067.98289894])

In [98]:
import numpy as np
from sklearn.metrics import mean_squared_log_error

def compute_rmsle(y_test: np.ndarray, y_pred: np.ndarray, precision: int = 2) -> float:
    rmsle = np.sqrt(mean_squared_log_error(y_test, y_pred))
    return round(rmsle, precision)

In [99]:
compute_rmsle(y_test, y_pred)

0.25

In [100]:
# model.joblib
import joblib

In [101]:
filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/scalar.joblib"
joblib.dump(scaler, filename)

['/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/scalar.joblib']

In [113]:
# filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib"
# joblib.dump(encoder, filename)

['/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib']

In [37]:
filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/model.joblib"
joblib.dump(reg, filename)

['/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/model.joblib']

In [135]:
def build_model(final_df: pd.DataFrame) -> dict[str, str]:
    
    # split data into Train, Test
    X_train, X_test, y_train, y_test = train_test_split(final_df)


    #Create Encoder
    encoder = OneHotEncoder(sparse = True)   
    
    #Create Scalar
    scalar =StandardScaler()
    
    X_train = X_train,encoder=encoder,scalar=scalar,is_test=False
    
    #Define an evaluation dictonary
    evaluations_dict= dict()

    #Defining the Machine Learning model 
    reg = LinearRegression()
    
    #Train model
    reg.fit(X_train, y_train)
    
    # Model Build Evalution on Testing Set 
    #-------------------------------------
    #Preprocessing(cleaning data and using trained encoders,scalars)
    X_test = X_test, encoder=encoder, scalar=scalar, is_test=True
    
    #Testing-set evaluation
    y_test_predictions = reg.predict(X_test)
    test_evaluation = evaluate_performance(y_pred=y_test_predictions, y_true=y_test,
                                                precision=3,comment="Test")
    evaluations_dict.update(test_evaluation)
    # Returns a dictionary with the model performances (for example {'rmse': 0.18})
    return evaluations_dict

In [136]:
# Build Model 
evaluations= build_model(final_df)
print(evaluations)

ValueError: not enough values to unpack (expected 4, got 2)

In [111]:
# model inference

In [ ]:
# Load Data
test_master=pd.read_csv("/Users/raphsmart/Desktop/DSA/House_prices_industrialization/test.csv")
test_data = test_master.copy()

In [143]:
def make_predictions(input_data: pd.DataFrame) -> np.ndarray:
    
     # load the encoder 
    encode_filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib"
    encoder = load(encode_filename)
    encoder = OneHotEncoder(handle_unknown='ignore')
    encoded_input = encoder.fit(input_data[['Foundation', 'KitchenQual']])
    encoded_input = encoder.transform(input_data[['Foundation', 'KitchenQual']])

    # load the scalar
    scalar_filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/scalar.joblib"
    scalar = load(scalar_filename)
    scalar_input = scalar.transform(input_data[['TotRmsAbvGrd']])

    # load the model
    model_filename = "/Users/raphsmart/Desktop/DSA/House_prices_industrialization/models/encoder.joblib"
    model= load(model_filename)
    model_input = model.transform(input_data)
    
    final_predict = encoded_input.join(scalar_input)
    
#     input_data = input_data, encoder = encoded_input, scalar = scalar_input, is_test=True
    
    #Validation-set evaluation
    y_predictions = model.predict(final_predict)
    
    return y_predictions

In [144]:
predicitons = make_predictions(test_master)
print(predicitons)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- 1stFlrSF
- 2ndFlrSF
- 3SsnPorch
- Alley
- BedroomAbvGr
- ...
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

ValueError: X has 80 features, but OneHotEncoder is expecting 2 features as input.